* {
	margin: 0;
}
html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%
	margin; 0 auto -4em;
}
.footer, .push {
	height: 4em;
}

div.name {
	position: relative;
	left: 100px;
	background-color: #4aaaa5;
	padding: 10px 10px;
	width: 100%;
	margin-right: 5px;
	
}

div.connect {
	list-style-type: none;
	display: inline-flex;
	column-span: 
}

h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	float: right;
}
h2, h5 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	margin-bottom: 0;
}
